@page
@model Artsofte.Pages.DepartamentsModel

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Floor)
            </th>
            <th>Employee</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Department)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @{
                        var employees = (from bind in Model.Binder
                                         where bind.DepartmentId == item.Id
                                         select bind).ToList();
                        foreach (var bind in employees)
                        {
                            <span> @bind.EmployeeId</span>
                        }
                    }
                </td>
                @*<td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
            </tr>
        }
    </tbody>
</table>
